@import url('./reset.css');
@import url('./1-timer.css');
@import url('./2-snackbar.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin: 0;
  gap: 24px;
}

.link,
.to-home {
  padding: 15px 20px;
  display: block;
  border: 2px solid lightskyblue;
  border-radius: 12px;
  background-color: lightskyblue;
  min-width: 140px;
  max-width: fit-content;
  text-align: center;

  &:hover {
    border: 2px solid lightgreen;
    background-color: lightgreen;
  }
}

section {
  position: relative;
  width: fit-content;
  padding-bottom: 50px;
}

.to-home {
  width: fit-content;
  margin-top: 20px;
  margin-left: 20px;
}
